$colors: (
  midnightLacquer: #121212,
  devilsBed: #292929,
  darkRoom: #2a2d2e,
  revolver: #37373d,
  whiteSmoke: #f5f5f5,
  jaguar: #252526,
  pinkSwan: #b5b5b5,
  eclipse: #3c3c3c,
  white: #ffffff,
  black: #000000,
  lightPrimary: white,
);
