@use "sass:color";

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@function tintCol($color, $percentage) {
  $temp: adjust-color(
    $color,
    $hue: $percentage,
    $saturation: - ($percentage * 0.5)
  );
  @return tint($color, $percentage);
}

@function makeFocusShadow($color) {
  $val: 0 0 0 0.2rem $color;

  @return $val;
}
