$menu-hover: #2a2d2e;
$menu-selected: #37373d;
$menuwidth: 120px;
$menuitemcol: #f5f5f5;
$menu-col: #252526;

.menu {
  width: $menuwidth;
  height: 100%;
  position: fixed;
  background-color: $menu-col;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  //   justify-content: flex-end;
  //   flex-flow: column nowrap;
  //   align-items: flex-start;
}

.menu-item {
  display: flex;
  text-decoration: none;
  color: $menuitemcol;
  padding: 1rem;
  //   align-self: flex-start;
  //   justify-content: flex-start;
}

.menu-item:hover {
  background-color: $menu-hover;
  text-decoration: none;
  color: white;
}

.menu-item.active {
  background-color: $menu-selected;
}

.server-status {
  color: $menuitemcol;
  margin-top: auto;
  padding: 0 0 5px 5px;
  font-size: small;
}
