@import './components/menu.scss';
@import './components/footer.scss';
$bgcolor: #1e1e1e;
$input-bg: #292929;

.App {
  text-align: center;
  color: white;
  -webkit-app-region: no-drag;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.content {
  margin-left: $menuwidth;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 30px;
  padding-bottom: $footer-height;
}

.component-container {
  width: 90%;
  height: 100%;
}

.rbt-input-hint input {
  color: rgba(255, 255, 255, 0.25) !important;
}

input[type='text'] {
  background-color: $input-bg;
  border-radius: 0px;
  color: white;
  border: none;
}

input[type='text']:focus {
  background-color: $input-bg;
  color: white;
  border-color: #175b89;
  box-shadow: 0 0 0 0.1rem #175b89;
}

button[type='submit'] {
  border-radius: 0px;
}

button[type='button'] {
  border-radius: 0px;
}

.dropdown-menu {
  background-color: $menu-col;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: $menu-hover;
  color: white;
}

.close {
  color: white;
}

.close:hover {
  color: yellow;
}

.form-label {
  color: white;
  font-weight: bold;
}

h2 {
  color: rgb(231, 231, 231);
}

.navbar {
  padding: 0 1rem 0 0;
}

.navbar-brand {
  padding: 0 0 0 0.5rem;
}

.navbar-dark .nav-item:first-child {
  border-left: 1px solid black;
}

.navbar-dark .nav-item {
  padding: 0 0.25rem 0 0.25rem;
  border-right: 1px solid black;
}

.navbar-dark .navbar-nav .nav-link {
  color: whitesmoke;
}

.card {
  background-color: $input-bg;
  color: white;
  border-radius: 0;
}

.list-group-item {
  background-color: $menu-col;
}

.main-page {
  display: flex;
  background-color: $bgcolor;
  // background: repeating-linear-gradient(
  //   -45deg,
  //   rgba(54, 54, 54, 0.5),
  //   rgba(54, 54, 54, 0.5) 20px,
  //   rgba(124, 0, 0, 0.5) 20px,
  //   rgba(129, 0, 0, 0.5) 30px
  // );
  overflow: hidden;
  position: relative;
  left: -$menuwidth;
  min-width: calc(100vw + #{$menuwidth});
  z-index: 2;
  bottom: 0;
}

.main-page-content {
  display: flex;
  flex-flow: column wrap;
  margin-top: 50px;
  align-items: center;
  width: 100%;
  color: white;
  text-align: center;
  margin: 50px $menuwidth 50px $menuwidth * 2;
}

.button-group {
  margin: 20px $menuwidth;
  display: flex;
  justify-content: space-around;
}

.main-link {
  display: flex;
  text-decoration: none;
  color: $menuitemcol;
  padding: 1rem;
  justify-content: center;
  background-color: #b91d47;
  margin: 10px;
  // padding: 30px;
  align-items: center;
  text-align: center;
  font-weight: bold;
  width: 200px;
  height: 200px;
  box-shadow: orchid;
}

.main-link:hover {
  background-color: rgb(165, 25, 63);
  text-decoration: none;
  color: white;
}
.content-enter {
  opacity: 0;
  transform: scale(1);
}

.content-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.content-exit {
  opacity: 1;
  transform: scale(1);
}

.content-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.component-container {
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  flex-grow: 1;
  overflow-x: auto;
}

::-webkit-scrollbar {
  background-color: $bgcolor;
  width: 1em;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: $input-bg;
}

.modal-content {
  background-color: $input-bg;
  color: $menuitemcol;
}

.modal-header {
  border-bottom-color: $bgcolor;
}

.modal-footer {
  border-top-color: $bgcolor;
}
